/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'custom-icon';  /* Project id 4218402 */
  src: url('https://at.alicdn.com/t/c/font_4218402_g1h17cl35w.woff2?t=1694679404722') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4218402_g1h17cl35w.woff?t=1694679404722') format('woff'),
       url('https://at.alicdn.com/t/c/font_4218402_g1h17cl35w.ttf?t=1694679404722') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-xinfang:before {
  content: "\e62d";
}

.custom-icon-siwangbinzang:before {
  content: "\e618";
}

.custom-icon-bojuelvpaiicontilian_huabanfuben:before {
  content: "\e60b";
}

.custom-icon-shuyi_xuesheng:before {
  content: "\e668";
}

.custom-icon-jiehun:before {
  content: "\e60f";
}

.custom-icon-zb:before {
  content: "\e60e";
}

.custom-icon-xuesheng:before {
  content: "\e602";
}

.custom-icon-new:before {
  content: "\e776";
}

.custom-icon-lazhu:before {
  content: "\e603";
}

.custom-icon--newlyweds:before {
  content: "\e601";
}

.custom-icon-icon-test:before {
  content: "\e784";
}

.custom-icon-shengridangao:before {
  content: "\e620";
}

.custom-icon-cangkuguanli:before {
  content: "\e685";
}

.custom-icon-wode:before {
  content: "\e8a0";
}

.custom-icon-zhangbu-normal:before {
  content: "\e60a";
}

.custom-icon-zhuye:before {
  content: "\e83a";
}

.custom-icon-zhongguojie:before {
  content: "\e600";
}

.custom-icon-er-xuanzhong:before {
  content: "\e642";
}

.custom-icon-marketing:before {
  content: "\eb5c";
}
